body{
    background-color: black;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
#cursor{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid red;
    position: absolute;
   background-image: url(./img/asd\ \(2\).jpg);
   background-size: 100px;
    background-position: center;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events: none;
}